.btn {
    border-radius: var(--border-radius);
    border: none;
    padding: 0.5rem;
    padding-inline: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    max-height: 2.5rem;
}

.btn:focus-visible {
    border: solid 2px var(--border-focus);
    outline: 0;
}

.btn--primary {
    background: var(--primary-bg);
    color: var(--primary-color);
    font-weight: 500;
    border: solid 2px var(--primary-bg);
}
.btn--primary:hover {
  filter: contrast(200%)
}

.btn--ghost {
    background: none;
    color: var(--ghost-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    border-radius: var(--border-radius);
    margin: 0;
    margin-inline: 0.5rem;
    padding: 0;
    padding-inline: 1rem;
    border: solid 2px var(--bg-content);
}
.btn--ghost:hover {
  border: solid 2px var(--ghost-color);
}

.btn.btn--neutral {
    background-color: var(--neutral-bg);
}
.btn.btn--neutral:hover {
    background-color: rgba(0,0,0,20%);
}